@import 'px-flexbox-design/_base.flexbox.scss';
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";

@import "px-helpers-design/_generic.helpers.scss";
@import "px-typography-design/_base.typography.scss";
@import "px-headings-design/_base.headings.scss";

$inuit-enable-responsive-margins--none : true;
$inuit-enable-responsive-paddings--large : true;
@import 'px-spacing-responsive-design/_trumps.spacing-responsive.scss';

$padding: calculateRem(5px);

.col-2 {
  height: 100%;
  margin-bottom: 0.5%;
  &> div {
    border-right: calculateRem(0.1px) solid $gray10;
    padding-left: 1rem;
    padding-top: $padding;
    min-height: calculateRem(100px);
  }
  .rep-text {
    padding-left: 0.4rem;
  }
}

.tenth {
  width: 8.75%;
}

.two-tenth {
  width: 19.25%;
}

.trend {
  padding-left: 2rem;
}

.right-nav
  div {
    padding-top: 10%;
    padding-right: 0;
    color: $gray12;
  }
  .chat-icon {
    height: 29.8%;
  }
  .avatar > img {
    width: 80%;
    height: 29.8%;
    margin-left: 0;
  }

.chart {
  margin-bottom: -10%;
}

.delta-epsilon {
  font-size: 180%;
}

.logo{
  padding-top: 15%;
  width: 95%;
  height: 70%;
}

@media screen and (max-width: 1920px) and (min-width: 1602px){
  .component { 
    font-size: calculateRem(14px);
  }
}

@media screen and (max-width: 1602px) and (min-width: 1366px) {
  .component {
    font-size: calculateRem(13px);
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .component {
    font-size: calculateRem(11.5px);
  }
  .static-info {
    display: none;
    width: 0%;
  }
  .avatar-div {
    width: 100% !important;
  }
  .tenth {
    width: 9.5% !important;
  }
  .two-tenth {
    width: 9.5% !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
  .component {
    font-size: calculateRem(10px);
  }
  .static-info {
    display: none;
    width: 0%;
  }
  .avatar-div {
    width: 100% !important;
  }
  .tenth {
    width: 12% !important;
  }
  .two-tenth {
    width: 12% !important;
  }
}

@media screen and (max-width: 700px) {
  .col-2 {
    &> div {
      border-bottom: calculateRem(0.1px) solid $gray10;
      width: 100%;
    }
  }
}

